# Variables para desarrollo local
NODE_ENV=
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_NAME=

# Variables para acceso a Key Vault (solo necesario para pruebas locales de Key Vault)
# AZURE_TENANT_ID=your-tenant-id
# AZURE_CLIENT_ID=your-client-id
# AZURE_CLIENT_SECRET=your-client-secret
# KEYVAULT_URI=https://kv-api-xxxx.vault.azure.net/ 